.App {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe-app {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 80vw;
  width: 100%;
  background: #dbf5f7;
}

.draggable-row {
  position: relative;
  width: 100%;
  height: 50%;
}

.draggable {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(80, 131, 206);
  color: white;
  overflow: hidden;
}

.bus-card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 60vh;
  background: #e1e0e6;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  will-change: transform;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.content-image-wrapper {
  width: 100%;
}

.content-image {
  width: 100%;
  height: 100%;
}

.draggable-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  left: 0;
  top: 0;
}

.like-dislike-label {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* for buttons */
.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.matched-cards img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
}
