{% extends 'base.html' %} {% block title %}Chicken Tinder{% endblock %} 
{% block body %}

  <h1>Like the resturants!</h1>
  <main>
    <div id="root"></div>
  </main>

{% endblock %} 

{% block js %}
<script type="text/jsx" src="/static/like.jsx">
{% endblock %}


<!-- <div id="resturant-widgets">
  <form action=/room/{{ uuid }}/show method="POST">
  {% for business in list_business %}
    <p>
        <legend>{{ business.yelp_alias }}</legend>
          <label><input type="radio" name={{business.id}} value="True"> Liked</label>
          <label><input type="radio" name={{business.id}} value="False"> No</label>
        </fieldset>
    </p>
  {% endfor %}
  <p><button type="submit">DONE</button></p>
</form>
</div> -->
