{% extends 'base.html' %} {% block title %}Chicken Tinder{% endblock %} 
{% block body %}

  <h1>Join a room to start swiping!</h1>

  <div id="room">
    <h2>Room</h2>

    <form method="POST">
      <p>Room ID <input type="text" name="room-id" value={{ uuid }}>//required</p>

      <p>Name <input type="text" name="name" />//required</p>

      <p><button type="submit">Join</button></p>

    </form>

  </div>

{% endblock %} 

{% block js %}
<!-- <script src="/static/js/homepage.jsx" type="text/jsx"></script> -->
{% endblock %}
